# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserstate
*.xcuserdatad

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SwiftLint
.swiftlint.cache

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive
*.ipa
*.dSYM
*.dSYM.zip

# Core ML / model artifacts
*.mlmodelc/
*.mlpackage/

# Logs
*.log

# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# JetBrains
.idea/

# Node
node_modules/
